*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Inter",sans-serif;

    background:#09090B;

    color:white;

}

/* ========================= */
/* HERO */
/* ========================= */

.hero{

    position:relative;

    width:100%;

    height:100vh;

    background-image:url("../images/hero.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    overflow:hidden;

}

/* Dark Overlay */

.overlay{

    position:absolute;

    inset:0;

    background:
    linear-gradient(
        rgba(8,8,12,.55),
        rgba(8,8,12,.70)
    );

}

/* Content */

.content{

    position:relative;

    z-index:2;

    height:100%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:40px;

}

.logo{

    width:650px;

    max-width:90%;

    filter:drop-shadow(0 0 45px rgba(168,85,247,.45));

}

h2{

    margin-top:30px;

    font-weight:400;

    color:#d4d4d8;

    font-size:28px;

}

.buttons{

    display:flex;

    gap:20px;

    margin-top:45px;

}

button{

    padding:18px 38px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    font-size:17px;

    font-weight:700;

    transition:.3s;

}

.primary{

    background:linear-gradient(90deg,#8B5CF6,#EC4899);

    color:white;

    box-shadow:0 0 30px rgba(168,85,247,.4);

}

.primary:hover{

    transform:translateY(-4px);

}

.secondary{

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.15);

    color:white;

    backdrop-filter:blur(12px);

}

.secondary:hover{

    transform:translateY(-4px);

    background:rgba(255,255,255,.12);

}

/* Mobile */

@media(max-width:900px){

    .logo{

        width:90%;

    }

    .buttons{

        flex-direction:column;

        width:100%;

    }

    button{

        width:100%;

    }

}